.header {
  background-color: #333;
  padding: 10px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  color: #f29c11;
}

/* Home button styling */
.home-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.home-link:hover {
  color: #f29c11;
}

.cart-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.cart-link:hover {
  color: #f29c11;
}
