.hero-section {
  background-color: #e0f7fa;
  padding: 40px;
  text-align: center;
}

.hero-content h2 {
  margin: 0;
}

.shop-button {
  padding: 10px 20px;
  background-color: #00bcd4;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.shop-button:hover {
  background-color: #0288d1; /* Darker shade on hover */
}
